# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# IDE specific
.idea/
.vscode/
*.swp
*.swo
*.swn
.env
*.iml

# OS specific
.DS_Store
Thumbs.db
.env.local
.env.development.local
.env.test.local
.env.production.local

# Project specific
/postgres_data
/tmp
/dist
/bin
/vendor

# Debug
debug
__debug_bin

# Log files
*.log

# Build output
.metals/
.scala-build/
